/* LoginPage.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Set your desired background color */
  }
  
  .login-form {
    text-align: center;
    padding: 20px;
    background-color: #fff; /* Set your desired background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow if desired */
    border-radius: 5px; /* Add border radius for rounded corners */
  }
  
  .logo-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .input-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .login-button {
    width: 100%;
    margin-top: 10px;
  }
  